<!--The content below is only a placeholder and can be replaced.-->
<header class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand"
       [routerLink]="['/home']">App Name</a>
    <button *ngIf="auth.authenticated()" class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#responsive-navbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div *ngIf="auth.authenticated()"
         class="collapse navbar-collapse"
         id="responsive-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a (click)="auth.logout()" class="nav-link">Log Out</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

<div style="display: block; height: 60px;"></div>

<router-outlet></router-outlet>

<footer class="mt-auto">
  <div class="container">
    <span class="text-muted">Copyright © 2018 by VATO. All rights reserved.</span>
  </div>
</footer>
